* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}
#btn-edit_delete {
  margin-left: auto;
}
#user-id {
  color: #ffffff !important;
}
#box-content {
  margin-top: 24px !important;
}
.app{
  margin: 0;
}
#logo {
  display: flex;
  img {
    margin: auto 0;
    display: block;
    height: 55px;
    width: 55px;
  }
}
#course-item {
  padding-bottom: 40px !important;
}

#title {
  --line-clamp: 1;
}
#desc {
  --line-clamp: 3;
}
.detail-course {
  margin-top: 35px;
  h2 {
    max-width: 560px;
    font-size: 42px;
    margin-bottom: 24px;
  }
  p {
    margin-top: 24px;
    max-width: 560px;
    font-size: 24px;
  }
}
.login{
  // display: none;
  margin: 0 ;
  background-image: url("https://images.unsplash.com/photo-1661956602139-ec64991b8b16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8&auto=format&fit=crop&w=1400&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  // width: 1200px;
  margin: 0 auto;
  margin: 0;
  position: relative;
  .login_content{
    background-color: #ffffff;
    padding: 50px 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

// Register styles

.register{
  // display: none;
  background-image: url("https://plus.unsplash.com/premium_photo-1668951754974-740086e58709?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1400&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
  .register_content{
    background-color: #ffffff;
    padding: 50px 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
.homepage{
  width: 1200px;
  #homepage-image{
    width: 1200px;
    object-fit: cover;
    img{
      width: 1200px;
      background-size: cover;
    }
  }
}
#image-2{
  object-fit: cover;
  width: 100%;
}
.image-show{
    height: 200px;
    background-position: center;
    object-fit: cover;
}
.card-text{
  display: -webkit-box;
  height: 42px;
  font-size: 14px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 20px;
}
.link_main{
  color: black;
}